<article class="post">
  <div class="title">
    <h3>{{title}}
      <span>  
        Posted by {{user.username}} on {{format_date created_at}}
      </span>
    </h3>
  </div>
  <p>{{format_url post_url}}</p>
</article>